header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 5000;
  height: 85px;
  display: block;
  background-color: white;
}

header .wrapper {
  max-width: 1180px;
  margin: 0 auto;
  padding: 0 30px;
  position: relative;
  top: 6px;
}

header .nav--desktop {
  display: table;
  width: 100%;
}

h1 {
  margin: 0;
  display: table-cell;
  vertical-align: middle;
}

h1 .title {
  height: 60px;
}

header .menu {
  display: table-cell;
  height: 100%;
  text-align: right;
}

header .menu .category {
  display: inline-block;
  height: 100%;
  text-align: right;
  position: relative;
  text-transform: uppercase;
}

header .link {
  display: block;
  padding-top: 30px;
  padding-bottom: 30px;
  margin-left: 30px;
  text-decoration: none;
  color: black;
}