.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 999999;
  cursor: pointer;
  background-color: #d3d3d3;
  opacity: 0.8;
}

.modal {
  display: block;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  max-width: 760px;
  height: auto;
  background-color: white;
  overflow: auto;
  z-index: 1000000;
  box-shadow: 0px 10px 80px rgba(0,0,0,0.25);
}

.modal .header {
  width: 100%;
}

.modal .header > h3 {
  display: inline-block;
  font-weight: normal;
  line-height: 1.4;
  font-size: 1.5em;
  padding-left: calc(27px + 19px);
}

.modal .header > img {
  float: right;
  padding-right: 27px;
  padding-top: 27px;
  cursor: pointer;
}

.modal .body {
  width: 100%;
  border-top: 1px solid black;
}

.modal .product {
  display: block;
  width: 100%;
  padding: 0 30px;
  padding-top: 30px;
}

.modal .product > img {
  display: inline-block;
  max-height: 200px;
  float: left;
  margin-right: 30px;
}

.modal .text {
  display: flex;
  justify-content: space-between;
  margin: 0;
  margin-bottom: 10px;
  min-height: 40px;
}

.modal .text .title {
  max-width: 380px;
  width: 100%;
  text-align: left;
}

form .fields {
  display: block;
  margin-right: 30px;
}

input[type="text"],
input[type="tel"] {
  width: 100%;
  height: 41px;
  max-width: 470px;
  padding: 10px 20px;
  border-radius: 0;
  border: 1px solid black;
  outline: none;
  font-size: 1.15em;
  filter: none;
}
::-webkit-input-placeholder { /* Chrome */
  color: #aaa;
  opacity: 1;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #aaa;
  opacity: 1;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #aaa;
  opacity: 1;
}
:-moz-placeholder { /* Firefox 4 - 18 */
  color: #aaa;
  opacity: 1;
}

.middle-field {
  margin: 10px 0;
}

form ul {
  display: block;
  margin: 30px;
  margin-bottom: 0;
  text-align: left;
  color: red;
}

input[type="submit"] {
  width: 100%;
  border: none;
  background-color: black;
  color: white;
  line-height: 1.3em;
  font-size: 1.39em;
  font-weight: normal;
  letter-spacing: 1px;
  padding-top: 1.2em;
  padding-bottom: 1.2em;
  cursor: pointer;
  margin-top: 30px;
  outline: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active  {
    -webkit-box-shadow: 0 0 0 60px white inset !important;
}


@media screen and (max-width: 780px) {
  .modal {
    max-width: 470px;
  }

  .modal .product {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0 20px;
    padding-top: 20px;
  }

  .modal .product > img {
    max-height: 100px;
    margin-right: 15px;
    margin-bottom: 15px;
  }

  .modal .text {
    font-size: 0.9em;
    align-items: center;
    width: 100%;
  }

  .modal .text .title {
    max-width: 260px;
    margin-right: 10px;
  }

  form .fields {
    margin-left: 20px;
    margin-right: 20px;
  }

  input[type="text"],
  input[type="tel"] {
    height: 39px;
    max-width: 450px;
    padding: 9px 17px;
    font-size: 1.08em;
  }

  form ul {
    font-size: 0.9em;
    margin: 0;
    margin-right: 20px;
    margin-top: 10px;
  }

  input[type="submit"] {
    line-height: 1.1em;
    font-size: 1.25em;
    padding-top: 1em;
    padding-bottom: 1em;
    margin-top: 20px;
  }
}

@media screen and (max-width: 470px) {
  .modal {
    max-width: 320px;
  }

  .modal .header > h3 {
    line-height: 1.2;
    font-size: 1.3em;
    padding-left: calc(20px + 19px);
  }

  .modal .header > img {
    padding-right: 20px;
    padding-top: 20px;
  }

  .modal .product {
    padding: 0 10px;
    padding-top: 15px;
  }

  .modal .product > img {
    max-height: 80px;
    margin-right: 10px;
    margin-bottom: 10px;
  }

  .modal .text {
    font-size: 0.8em;
  }

  .modal .text .title {
    max-width: 146px;
  }

  form .fields {
    margin-left: 10px;
    margin-right: 10px;
  }

  input[type="text"],
  input[type="tel"] {
    height: 35px;
    max-width: 450px;
    padding: 7px 15px;
    font-size: 1em;
  }

  .middle-field {
    margin: 7px 0;
  }

  form ul {
    font-size: 0.8em;
    margin-right: 10px;
    margin-top: 7px;
  }

  input[type="submit"] {
    margin-top: 10px;
  }
}